* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(i.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  font-size: 22px;
  height: 100%;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover {
  color: red;
}

nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.fa-solid {
  padding: 20px;
  display: none;
}

@media (max-width: 800px) {
  .hideonmobile {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
